<div class="authentication">
  <div class="logo-container">
    <img src="../../assets/image/logo_gestionit.png" alt="Girl in a jacket">
  </div>
  <div class="auth_form">
    <form action="#">
      <p>Connexion</p>
      <label for="email">Email</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="mot_de_passe">Mot de passe</label><br>
      <input type="password" id="mot_de_passe" name="mot_de_passe"><br>
      <input type="submit" value="Login">
    </form>
  </div>
</div>
